[submodule "dependencies/NAudio"]
	path = dependencies/NAudio
	url = https://github.com/Milkitic/NAudio.git
[submodule "dependencies/Milki.Extensions"]
	path = dependencies/Milki.Extensions
	url = https://github.com/Milkitic/Milki.Extensions.git
[submodule "dependencies/osu.Game.Rulesets.KeyAsio"]
	path = dependencies/osu.Game.Rulesets.KeyAsio
	url = https://github.com/Milkitic/osu.Game.Rulesets.KeyAsio.git
