<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target name="logfile" xsi:type="File" fileName="${currentdir}/logs/keyasio-${date:format=yyyyMMdd}.log" encoding="UTF8"
            layout="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true} ${logger}: ${message}${onexception:inner=${newline}${newline}======== Start of exception stacktrace ========${newline}${exception:format=tostring}${newline}======== End of exception stacktrace ========${newline}}"/>

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target name="logconsole" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss.fff}] ${level}　${logger}.${callsite:className=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}(): ${message}${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="Black"/>
      <!--<highlight-word regex="\([^)]+\)" foregroundColor="Red" />-->
      <highlight-word regex=" Info　" foregroundColor="DarkGreen" />
      <highlight-word regex="(?!: )Warn(?=　)" foregroundColor="Black" backgroundColor="DarkYellow" />
      <highlight-word regex="(?!: )Error(?=　)" foregroundColor="Black" backgroundColor="Red" />
      <highlight-word regex="(?!: )Fatal(?=　)" foregroundColor="Black" backgroundColor="DarkRed" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>